.product-card {
  border: none;
  border-radius: 20px; /* زودنا الانحناء شوي */
  padding: 32px; /* مساحة أكبر داخل الكارت */
  margin: 20px auto; /* مسافة بين الكارت والعناصر اللي حوالينه */
  width: 100%;
  max-width: 550px; /* عرضه أكبر */
  background: #ffffff;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.15); /* ظل أوضح */
  text-align: center;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  display: flex;
  flex-direction: column;
  align-items: center;
}



.product-card:hover {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.12);
  transform: translateY(-4px);
}

/* جعل الأزرار فوق بعض */
.product-actions {
  margin-top: 14px;
  display: flex;
  flex-direction: column; /* فوق بعض */
  gap: 10px;
  width: 100%; /* عرض كامل */
}

.product-actions button {
  width: 100%;
  padding: 10px 16px;
  border: none;
  border-radius: 6px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

/* زر الإضافة */
.product-actions button:first-child {
  background-color: #284139; /* Emerald Green */
  color: #F8E794; /* Creased Khaki */
}

.product-actions button:first-child:hover {
  background-color: #BB6830; /* Egyptian Earth */
}

/* زر التفاصيل */
.product-actions button:last-child {
  background-color: #809076; /* Wasabi */
  color: #111419; /* Noir de Vigne */
}

.product-actions button:last-child:hover {
  background-color: #BB6830; /* Egyptian Earth */
}
